@charset "utf-8";
/* Global Styles */

/* Media Query for Tablets */
@media only screen and (min-width : 481px) and (max-width : 1024px) {

	/* Footer */
	footer .footerDisclaimer {
		float: left;
		margin-left: 3%;
		font-family: sans-serif;
	}

	footer .footerNote {
		float: right;
		margin-right: 3%;
		font-family: sans-serif;
	}
}