/* CSS Document */
/* Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
.roboto-thin {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: normal;
}
.roboto-thin-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 100;
  font-style: italic;
}
.roboto-light {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: normal;
}
.roboto-light-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 300;
  font-style: italic;
}
.roboto-regular {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.roboto-regular-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: italic;
}
.roboto-medium {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: normal;
}
.roboto-medium-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-style: italic;
}
.roboto-bold {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: normal;
}
.roboto-bold-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-style: italic;
}
.roboto-black {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: normal;
}
.roboto-black-italic {
  font-family: "Roboto", sans-serif;
  font-weight: 900;
  font-style: italic;
}

/* Icons */
.bi {
  width: 64px;
  height: 64px;
}
.bi-facebook {
  color: hsl(217, 100%, 52%);
}
.bi-twitter-x {
  color: black;
}
.bi-instagram {
  color: hsl(321, 92%, 60%);
}
.bi-linkedin {
  color: hsl(210, 90%, 40%);
}

/* Global Styles */
body {
  margin-left: auto;
  margin-right: auto;
  width: 92%;
  max-width: 960px;
  padding-left: 2.275%;
  padding-right: 2.275%;
  font-family: "Roboto", sans-serif;
}

hr {
  background-color: rgb(208, 207, 207);
  height: 1px;
}

/* Header */
header {
  text-align: center;
  display: block;
}
header .mainmenu {
  font-family: "Montserrat", sans-serif;
  background-color: rgb(208, 207, 207);
  overflow: auto;
  font-style: normal;
  font-weight: 400;
  display: block;
  clear: both;
}
header .mainmenu .logo {
  width: 28%;
  float: left;
  padding-top: 12px;
  padding-bottom: 12px;
  font-size: 3em;
  font-weight: 700;
  line-height: 53px;
  color: rgb(255, 255, 255);
}
header .mainmenu nav {
  text-align: right;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-right: 2%;
  width: 68%;
  float: left;
  color: rgb(146, 146, 146);
}
header .mainmenu nav a {
  font-size: 1.2em;
  padding-right: 2%;
  padding-top: 0.8em;
  display: inline-block;
  text-align: center;
  text-decoration: none;
}
header .profilePhoto {
  background-color: rgb(237, 237, 237);
  width: 259px;
  border-radius: 50%;
  height: 259px;
  clear: both;
}
header .profileHeader {
  float: left;
}
header .profileHeader h1 {
  font-family: "Montserrat", sans-serif;
  color: rgb(146, 146, 146);
  font-size: 30px;
  font-weight: 700;
  line-height: 24px;
}
header .profileHeader h3 {
  font-family: sans-serif;
  color: rgb(146, 146, 146);
  font-size: 16px;
  font-weight: 700;
  line-height: 24px;
}
header .profileHeader p {
  font-family: sans-serif;
  color: rgb(146, 146, 146);
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
  overflow-y: auto;
  text-align: justify;
}
header .socialNetworkNavBar {
  display: block;
  margin-top: 2em;
  clear: both;
  padding-top: 1em;
}
header .socialNetworkNavBar .socialNetworkNav {
  cursor: pointer;
}
header .socialNetworkNavBar .socialNetworkNav svg {
  width: 32px;
  height: 32px;
}
header .socialNetworkNavBar .socialNetworkNav img:hover {
  opacity: 0.5;
}

/* Main Content sections */
.mainContent {
  display: block;
}
.mainContent .section1 {
  display: block;
}
.mainContent .section1 .section1Content {
  font-size: 14px;
  font-weight: 100;
}
.mainContent .section1 .section1Content span {
  color: rgb(146, 146, 146);
}
.mainContent .section2 .sectionContentTitle {
  font-size: 18px;
  font-weight: 700;
}
.mainContent .externalResourcesNav .externalResources {
  background-color: rgb(208, 207, 207);
  display: inline-block;
  text-align: center;
  margin-top: 0px;
  padding-top: 3%;
  cursor: pointer;
}
.mainContent .externalResourcesNav .externalResources:hover {
  background-color: rgb(153, 153, 153);
}
.mainContent .externalResourcesNav .externalResources a {
  font-family: "Montserrat", sans-serif;
  color: rgb(255, 255, 255);
  font-size: 14px;
  font-weight: 400;
  line-height: 18px;
  text-decoration: none;
}

.section1 .sectionTitle,
.section2 .sectionTitle {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  font-weight: 700;
  text-transform: uppercase;
}
.section1 .sectionTitleRule,
.section2 .sectionTitleRule {
  margin: 0 3% 0 0;
  float: left;
  clear: both;
}
.section1 .sectionTitleRule2,
.section2 .sectionTitleRule2 {
  background-color: rgb(208, 207, 207);
  height: 1px;
  padding: 0px;
}
.section1 .sectionContentSubTitle,
.section2 .sectionContentSubTitle {
  color: rgb(68, 67, 67);
}
.section1 .sectionContentTitle,
.section2 .sectionContentTitle {
  color: rgb(146, 146, 146);
}
.section1 .sectionContent,
.section2 .sectionContent {
  color: rgb(146, 146, 146);
}

.section2 .sectionContentSubTitle {
  font-size: 14px;
  font-weight: 400;
}
.section2 .sectionContent {
  font-size: 14px;
  font-weight: 400;
  line-height: 1.8;
}

.stretch {
  content: "";
  display: inline-block;
  margin-left: 2%;
  margin-right: 2%;
}

/* Footer */
footer .footerDisclaimer {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(104, 103, 103);
  font-weight: 700;
}
footer .footerDisclaimer span {
  color: rgb(181, 178, 178);
  font-weight: 400;
}
footer .footerNote {
  font-family: sans-serif;
  font-size: 14px;
  line-height: 18px;
  color: rgb(104, 103, 103);
  font-weight: 700;
}
footer .footerNote span {
  color: rgb(181, 178, 178);
  font-weight: 400;
}

/* Media query for Mobile devices*/
@media screen and (max-width: 480px) {
  body {
    width: 96%;
  }
  /* Header */
  header .mainmenu .logo {
    width: 98%;
    margin-left: 2%;
  }
  header .mainmenu nav {
    text-align: center;
    background-color: rgb(255, 255, 255);
    width: 98%;
  }
  /* Footer */
  footer {
    display: block;
    text-align: center;
    font-family: sans-serif;
  }
}
@media only screen and (min-width: 285px) and (max-width: 480px) {
  /* Header */
  header {
    width: 100%;
    float: none;
  }
  header .profilePhoto {
    display: inline-block;
  }
  header .profileHeader {
    text-align: center;
    margin-top: 10%;
  }
  header .profileHeader p {
    text-align: justify;
  }
  header .socialNetworkNavBar {
    text-align: center;
    display: block;
    margin-top: 60px;
    clear: both;
    margin-bottom: 15%;
  }
  header .socialNetworkNavBar .socialNetworkNav {
    width: 60px;
    height: 60px;
    display: inline-block;
    margin-right: 23px;
  }
  .mainContent .section1 {
    text-align: center;
    margin-bottom: 10%;
  }
  .mainContent .section1 .section1Content {
    display: inline-block;
    text-align: left;
    font-family: sans-serif;
    text-align: justify;
  }
  .mainContent .section2 {
    display: block;
    text-align: center;
  }
  .mainContent .externalResourcesNav {
    margin-bottom: 10%;
  }
  .mainContent .externalResourcesNav .externalResources {
    width: 100%;
    height: 35px;
  }
  .section1 .section1Title,
  .section2 .section1Title {
    text-align: center;
  }
  .section1 .sectionTitleRule,
  .section2 .sectionTitleRule {
    width: 100%;
  }
  .section1 .sectionTitleRule2,
  .section2 .sectionTitleRule2 {
    display: none;
  }
  .section2 .section2Content {
    margin-top: 10%;
    text-align: justify;
    margin-bottom: 10%;
  }
}
/* Media Query for Tablets */
@media only screen and (min-width: 481px) and (max-width: 1024px) {
  /* Header */
  header {
    width: 100%;
    float: none;
  }
  header .profilePhoto {
    float: left;
    clear: both;
    margin-right: 3%;
    margin-top: 2%;
  }
  header .profileHeader {
    text-align: left;
    margin-top: 1%;
  }
  header .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  .section1 .section1Title,
  .section2 .section1Title {
    text-align: center;
  }
  .section1 .sectionTitleRule,
  .section2 .sectionTitleRule {
    width: 100%;
  }
  .section1 .sectionTitleRule2,
  .section2 .sectionTitleRule2 {
    display: none;
  }
  .mainContent .section1 .section1Content {
    display: block;
    margin: 0% 0% 0% 20%;
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .mainContent .section2 {
    clear: both;
  }
  .mainContent .section2 .section2Content {
    padding: 0px;
    margin-left: 20%;
    font-family: sans-serif;
    margin-top: 5%;
    margin-bottom: 5%;
  }
  .mainContent .externalResourcesNav {
    margin-left: 20%;
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0px;
    clear: both;
  }
  .mainContent .externalResourcesNav .externalResources {
    width: 199px;
    height: 48px;
    margin-top: 5%;
  }
  /* Footer */
  footer .footerDisclaimer {
    float: left;
    margin-left: 3%;
    font-family: sans-serif;
  }
  footer .footerNote {
    float: right;
    margin-right: 3%;
    font-family: sans-serif;
  }
}
/* Desktops and laptops  */
@media only screen and (min-width: 1025px) {
  /* Header */
  header .profilePhoto {
    float: left;
    clear: both;
    margin-right: 3%;
    margin-top: 2%;
  }
  header .profileHeader {
    text-align: left;
    padding-top: 2%;
  }
  header .socialNetworkNavBar {
    display: block;
  }
  header .socialNetworkNavBar .socialNetworkNav {
    width: 74px;
    height: 74px;
    display: inline-block;
    margin-right: 23px;
  }
  /* Main content sections */
  .section1 .sectionTitleRule,
  .section2 .sectionTitleRule {
    width: 22.5%;
  }
  .mainContent .section1 .section1Content {
    display: block;
    margin-top: 0%;
    margin-right: 0%;
    margin-left: 26%;
    margin-bottom: 0%;
    font-family: sans-serif;
  }
  .mainContent .section2 {
    clear: both;
  }
  .mainContent .section2 .section2Content {
    padding: 0px;
    margin-left: 26%;
    font-family: sans-serif;
  }
  .mainContent .externalResourcesNav {
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    padding-top: 0px;
    clear: both;
  }
  .mainContent .externalResourcesNav .externalResources {
    width: 199px;
    height: 48px;
  }
  /* Footer */
  footer .footerDisclaimer {
    float: left;
    margin-left: 3%;
    font-family: sans-serif;
  }
  footer .footerNote {
    float: right;
    margin-right: 3%;
    font-family: sans-serif;
  }
}/*# sourceMappingURL=main.css.map */